Package     Version
----------- -------
ipaddress   1.0.23
netifaces   0.11.0
pip         24.0
prettytable 3.10.0
PyQt5       5.15.10
PyQt5-Qt5   5.15.2
PyQt5-sip   12.13.0
setuptools  68.1.2
wcwidth     0.2.13
wheel       0.42.0
